
<div class="home-box" id="about">
    <h2 class="section-header">About</h2>
    <img src="~/Images/question.gif">
    <p>
        This project was created in order to give people an opportunity to create simple collections of pictures (albums).
        Everyone after registration can create own albums with title, description and of course collection of pictures.
        In addition, everyone can decide wheather their albums will be public or not. It is obvious that after creating an album you can modify it or
        even delete. Other users are allowed to add comments to your album and view them with help of search engine.
    </p>

</div>