
<div class="home-box" id="contact">
    <h2 class="section-header">Contact</h2>
    <address>
        <strong>Phone: </strong>777-888-999<br />
        <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
</div>