
<div class="home-box">
    <h2 class="section-header">Home</h2>
    <h2 style="margin-top: 30px"> Hi!</h2>
    <p>
        This is just simple application for photo managment. You can create your own acount and then build some albums with photos and some additional stuff.
        It is obvious that, you can also look over for albums created by other users, but only if they want you to see their albums. <br>
        I hope you enjoy! &#x1f609;
    </p>
    <img src="~/Images/home-image.jpg" id="home-image" />
</div>